body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 2rem;
  color: white;
  background-image: url('images/image1.jpg'); /* Default: PC */
  background-size: cover;
  background-position: center;
  background-color: rgba(0, 128, 0, 0.7); /* Transparent green for PC */
  text-align: center;
  white-space: nowrap; /* keeps text in one line */
  white-space: nowrap;
}

/* Tablet */
@media (max-width: 1024px) and (min-width: 601px) {
  body {
    background-image: url('image/image2.jpg');
    background-color: rgba(255, 105, 180, 0.7); /* Transparent pink */
  }
}

/* Phone */
@media (max-width: 600px) {
  body {
    background-image: url('images/image3.jpg');
    background-color: rgba(0, 0, 255, 0.7); /* Transparent blue */
  }
}