.container {
    width: 100px;
    margin:100px;
}
    header {
    display: flex;
    justify-content:space-between;
    background-color: #B99976;
    color:white;
    padding: 05px;
}

header li {
    display: inline-block;
    font-size: 20px;
    padding: 5px;

}
header a {
    text-decoration: none;
}
.row {
    display: flex;
    padding: 20px;
    justify-content:center;
    
}
.box {
    width: 200px;
    padding:50px;
    background-color:#D2B48C;
    border-radius: 10px;
    margin: 50px;
    
}
.btnsign-up {
    background-color:grey;
    margin-top: 20px;
    padding:10px;
    font-size: 20px;
    border-radius: 10px;
    border:none;
}
.summary {
    font-size: 20px;
    margin-top: 05px;
    font-family:cursive;
    justify-content:start;
}
.image {
    border-radius: 30px;
}
.title {
    font-size: 30px;
}
.section-title {
    text-align:center;
    font-size: 30px;
}
.service-container {
    display:flex;
    justify-content: space-around;
    flex-wrap:wrap;
    padding:20px;
}
.service-box {
    background:linear-gradient(#B99976, blanchedalmond);
  border-radius: 12px;
  padding: 20px;
  width: 40%;
  min-width: 300px;
  margin: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
.about-box {
    background:linear-gradient(#B99976, blanchedalmond);
    padding:10px;
    border-radius:7px;
     margin: auto;
  max-width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
}

.contact {
  background: #E6D6BE;
  color: black;
  padding: 80px 20px;
  text-align: center;
   
}
.footer {
    text-align: center;
    background-color: #E6D6BE;
    font-size: large;
}
.box:hover {
    transform: scale(1.1,1.1);
    transition: 1s;
}
.service-box:hover {
    transform: scale(1.1,1.1);
    transition: 1s;
}
.about-box:hover {
    transform: scale(1.1,1.1);
    transition: 1s;
}
.contact:hover {
     transform: scale(1.1,1.1);
    transition: 1s;
}