.container {
    width: 90px;
    margin:auto;
}
    header {
    display: flex;
    justify-content:space-between;
    background-color: #B99976;
    color:white;
    padding: 05px;
}

header li {
    display: inline-block;
    font-size: 20px;
    padding: 5px;

}
header a {
    text-decoration: none;
}
.row {
    display: flex;
    padding: 20px;
    justify-content:center;
}
.box {
    width: 300px;
    padding: 30px;
    background-color:#D2B48C;
    border-radius: 20px;
    margin: 10px;
}
.btnsign-up {
    background-color:grey;
    margin-top: 20px;
    padding:10px;
    font-size: 20px;
    border-radius: 10px;
    border:none;
}
.summary {
    font-size: 20px;
    margin-top: 05px;
    font-family:cursive;
    justify-content:start;
}
.image {
    border-radius: 50px;
}
.title {
    font-size: 30px;
}
.section-title {
    text-align: center;
    font-size: 30px;
}
.service {
    
    padding:300px;
    
    font-size: larger;
}
.contact {
  background: white;
  color: black;
  padding: 80px 20px;
  text-align: center;
  background-color: #B99976;
}
.footer {
    text-align: center;
    background-color: blanchedalmond;
    font-size: large;
}

